/vendor
/node_modules
/public/build
/public/hot

.env
.env.*

/storage/*.key

/bootstrap/cache/*.php
/bootstrap/cache/packages.php
/bootstrap/cache/services.php

/.idea
/.vscode

npm-debug.log
yarn-error.log
pnpm-debug.log